<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>

    <!--  Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div    th:replace="fragments/navBar.html"></div>

        <div class="container">

             <div class="row">

                 <div class="col-8 ">


                     <form class="m-2 text-center"  method="post"  action="/create-post-handler" enctype="multipart/form-data">
                         <h3 class="m-1">Create Post</h3>
                         <hr>
                         <div class="mb-3" >
                             <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                         </div>
                         <div class="mb-3">
                             <textarea class="form-control" name="description" placeholder="Description" id="description" rows="3"></textarea>
                         </div>


                        <div class="mb-3">
                             <select class="form-select" name="sub_id" aria-label="Default select example" >

                                 <option th:each="subReddit: ${allSubReddit} "  th:text="${subReddit.type}"  th:value="${subReddit.id}">

                                 </option>

                             </select>
                         </div>



                         <!--                         Display Image -->

                         <div   class="text-center">

                             <img id="output" width="50%"  >

                         </div>

<!--                         Input the file -->
                         <div class="form-group mb-3">
                             <input type="file" name="file"  id="uploadImage" class="form-control-file" onchange="loadFile(event)"  >
                         </div>




                         <button type="button" class="btn btn-light">Discard</button>
                         <button type="submit" class="btn btn-primary">Post</button>
                     </form>


                     <!--                     End of the col-8 div-->
                 </div>

             </div>



        </div>

<script>

    let loadFile = function (event){

        let image = document.getElementById('output');
        image.src= URL.createObjectURL(event.target.files[0]);
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>