<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


</head>
<body>

<!-- Navigation bar-->

<div    th:replace="fragments/navBar.html"></div>








    <div class="container-fluid">



          <div class="row">


              <div class="col-2">

              </div>

                <div class="col-6  " >

<!--New Style of the Post -->
                    <div class=" row" th:each="article: ${articleList}" style="margin-top: 20px">



                            <div class="col-1 border text-center mt-2">
                                <a class="btn" onclick="onUpVotingClicked()">
                                    <i class="fa fa-arrow-up"></i></a>
                                <!--                            th:text="${article.upvote}"-->
                                <p class="border" id="upVoting"  th:text="${article.upvote}"  >  </p>
                                <button class="btn" onclick="onDownVotingClicked()">
                                    <i class="fa fa-arrow-down"></i></button>
                            </div>






                        <div class="col-11">

                            <div class="card" style="width: 38rem;">
                                <img class="card-img-top"  th:src="${article.imageUrl}" alt="Card image cap">
                                <div class="card-body">
                                  <a th:href="@{/{id}/viewDetail(id=${article.id})}" style="text-decoration: none ; color: black">
                                      <h5 class="card-title" th:text="${article.title}"> </h5>
                                  </a>

                                    <span class="badge badge-warning" th:text="${article.type}" style="padding: 10px"> </span>

                                    <p class="card-text" th:text="${article.description}"> </p>

                                    <a th:href="@{/{id}/viewDetail(id=${article.id})}" type="button" class="btn btn-warning btn-block"> Read Post </a>
                                </div>
                            </div>

                        </div>

                    </div>



                    <!-- Before Col-8 ends Here...-->
                </div>

                <div class="col-2 text-center" >

<!--                    // Place the card here-->
<!--                    // Create subreddit , and create post-->
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="https://i.pinimg.com/originals/e4/d2/fe/e4d2fe20325524f5e1d3b84a11e20496.jpg" alt="Card image cap">
                        <div class="card-body">
<!--                            <h5 class="card-title">Card title</h5>-->
                            <p class="card-text"> Welcome to the most comforting platform where you can enjoy both the entertainment  and learning new things that you might not even that it is exist.</p>
<!--                           When click on the button we redirect to the different page.-->
                            <a href="/view-form" class="btn btn-primary btn-block">Create a Post</a>
                            <a href="/adding-subreddit-form" class="btn btn-outline-warning btn-block">Create Subreddit</a>

                        </div>
                    </div>
<!--                    //Show created subreddit-->

                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                           <h6>Subreddit</h6>
                        </div>
                        <ul class="list-group list-group-flush" th:each="subReddit : ${subRedList}" >
                            <li class="list-group-item" th:text="${subReddit.type}"   >   </li>

                        </ul>
                    </div>


                </div>

          </div>

    </div>

<script>

    function onUpVotingClicked(){


       let likeValue = document.getElementById("upVoting").innerHTML;

       let likes= parseInt(likeValue) + 1 ;
     //  alert ("Like value is : "+ likes)


         document.getElementById("upVoting").innerText=likes+"";

    }


    function onDownVotingClicked(){
        let likeValue = document.getElementById("upVoting").innerHTML;

        let likes= parseInt(likeValue) - 1 ;
        //  alert ("Like value is : "+ likes)


        document.getElementById("upVoting").innerText=likes+"";
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>