<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<div    th:replace="fragments/navBar.html"></div>

  <div  class="container">

      <div  class="row">

          <div  class="col-3"> </div>
        <div  class="col-8">



<!--Here is the card Detail Code. -->

            <div class=" row">

                <div class="col-1 border text-center mt-2">
                    <button class="btn">
                        <i class="fa fa-arrow-up"></i></button>
                    <p class="border">9</p>
                    <button class="btn">
                        <i class="fa fa-arrow-down"></i></button>
                </div>


                <div class="col-11">

                    <div class="card" style="width: 38rem;">
                        <img class="card-img-top"  th:src="${article.imageUrl}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${article.title}"> </h5>
                            <span class="badge badge-warning" th:text="${article.type}" style="padding: 10px"> </span>

                            <p class="card-text" th:text="${article.description}"> </p>

                            <a href="/" class="btn btn-primary">Back</a>
                        </div>
                    </div>

                </div>

            </div>



            <!--          The end of the col-8 -->
        </div>

        <div  class="col-3"> </div>
      </div>
  </div>
</body>
</html>